@charset "utf-8";
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/*******************
*********NAV SECTION*
*****************/
#navbar_section_for_admin {
  width: 100vw;
  height: 8vh;
  background-image: linear-gradient(30deg, #0186c4, #01bbde);
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
}
.nave_logo {
  width: 55vw;
}
.search_box {
  width: 300px;
}
.notification_section {
  width: 200px;

  display: flex;
  justify-content: space-around;
}
.profile_section {
  width: 200px;
  padding-left: 40px;
}
.nave_logo h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #e0e3e4;
  margin-top: 9px;
  margin-left: 10px;
}

#search_input_admin {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid gray;
  margin-top: 7px;
  margin-left: 40px;
  padding: 15px;
  border: none;
}
#search_input_admin:focus {
  outline: none;
}
/*****notification_section****/
.notification_section .admin_tasks,
.admin_mailbox,
.admin_notification {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(3, 89, 116);
  margin-top: 8px;
  background-color: #ffffff;
}
.notification_section .admin_tasks,
.admin_mailbox,
.admin_notification:hover {
  cursor: pointer;
}
.fa-tasks,
.fa-envelope,
.fa-bell {
  margin-top: 12px;
  margin-left: 12px;
}
.notification_section .count_alert {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: red;
  color: #ffffff;
  position: relative;
  left: 25px;
  top: -30px;
  font-size: 12px;
  text-align: center;
}
/***profile***/
#dropdownMenuButton1:focus {
  outline: none;
}
.profile_section #profile_photo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

/*************************
**********SIDEBAR**********
**************************/

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #fff;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 0;
  box-shadow: 2px 2px 4px gray;
}
/***sidebar profile***/
.my_profileinsidebar {
  width: 100%;
  height: 150px;
}
#profile_photo_forsidebar,
#profile_photo_for_logo1,
#profile_photo_for_logo2 {
  width: 90px;
  height: 90px;
  position: relative;
  border-radius: 45px;
  background-color: rgb(154, 159, 161);
  float: left;
  margin-left: 55px;
  margin-top: 30px;
}
#my_side_pic h6 {
  margin-left: 55px;
}
#profile_photo_forsidebar p,
#profile_photo_for_logo1 p,
#profile_photo_for_logo2 p {
  text-align: center;
  padding-top: 45%;
  font-size: 1.5rem;
}
input[type="file"] {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
}
input[type="file"]:hover{
  cursor: pointer;
}

.sidebar a {
  display: block;
  color: rgba(48, 46, 46, 0.842);
  padding-left: 20px;
  padding-top: 8px;
  text-decoration: none;
  height: 40px;
  font-family: sans-serif;
  font-weight: 500;
}

.sidebar a.active {
  background-color: #0194dd;
  color: #f8f9fa;
  font-weight: 500;
}

.sidebar a:hover:not(.active) {
  background-color: #0536bbe0;
  color: #ffffff;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.dropdown-container {
  display: none;
  background-color: #bedde9;
  padding-left: 8px;
}
/* .dropdown-btn {
  background-color: #0194dd;
} */
.st1 {
  background-color: #01bbde;
}
/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}
/***************
*****CCONTENT****/
.content {
  background-color: #e6f4f5;
  background-image: url(../../../../images/addSchedule/cricket.jpg);
  background-size: cover;
  height: 91vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/**first innings***/
#first_innings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/***second innings**/
#second_innings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add_score {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.first_team_add_score {
  width: 400px;
  height: 500px;
  box-shadow: 4px 4px 8px gray;
  background: rgba(86, 86, 86, 0.3);
  backdrop-filter: blur(10px);
}
.add_score > div:hover {
  box-shadow: 2px 2px 4px gray;
}
/****ADD TLTLE SECTION***/
/*TITLE SECTION*/
.page_title_section {
  width: 88.3%;
  height: 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 15px;
}
.cricket_ti {
  width: 70%;
  color: #6a00b1;
  font-size: 1.5rem;
  font-weight: 600;
}
/****add schedule header for set date and time****/
.schedule_header_date_sec {
  width: 80%;
  height: 80px;
  box-shadow: 4px 4px 8px gray;
  background: rgba(86, 86, 86, 0.3);
  backdrop-filter: blur(10px);
}
#header_date_form {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#header_date_form input {
  width: 200px;
  border: none;
}
#header_date_form select {
  width: 200px;
  border: none;
}
.header_input_style {
  display: flex;
  width: 250px;
  height: 30px;
  margin-top: 20px;
}

/***add team name**/
.add_team_member_section {
  width: 80%;
  box-shadow: 4px 4px 8px gray;
  background: rgba(86, 86, 86, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  margin-top: 15px;
}
.add_first_team,
.add_second_team {
  width: 50%;
  height: 400px;
}
.add_first_team {
  border-right: 2px solid rgba(77, 76, 76, 0.377);
}
/*FIRST FORM***/
#first_form {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}
#first_form p {
  margin-bottom: -2px;
  font-size: 1rem;
  font-weight: 500;
  color: rgba(26, 25, 25, 0.979);
}
.for_logo_upload {
  display: flex;
  align-items: center;
  height: 90px;
}
#team_name,
#team_captain {
  width: 250px;
  border: none;
  padding-left: 12px;
}
#other_player {
  border: none;
  padding-left: 12px;
}
#team_name:focus,
#team_captain:focus {
  outline: none;
}
#other_player:focus {
  outline: none;
}
/****ADD TEAM BUTTON**/
.add_btn_sec {
  width: 100px;
  margin-top: 10px;
}
#add_btn {
  width: 100px;
  height: 50px;
  border-radius: 25px;
  background: rgba(0, 113, 241, 0.459);
  backdrop-filter: blur(10px);
  border: none;
  font: 1.2rem Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #fff;
}
#add_btn:hover {
  background: rgba(0, 241, 12, 0.493);
}
