@charset "utf-8";
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/*******************
*********NAV SECTION*
*****************/
#navbar_section_for_admin {
  width: 98.9vw;
  height: 8vh;
  background-image: linear-gradient(30deg,#0186C4,#01BBDE);
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
}
.nave_logo {
  width: 55vw;
}
.search_box {
  width: 300px;
}
.notification_section {
  width: 200px;

  display: flex;
  justify-content: space-around;
}
.profile_section {
  width: 200px;
  padding-left: 40px;
}
.nave_logo h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #e0e3e4;
  margin-top: 9px;
  margin-left: 10px;
}

#search_input_admin {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid gray;
  margin-top: 7px;
  margin-left: 40px;
  padding: 15px;
}
#search_input_admin:focus {
  outline: none;
}
/*****notification_section****/
.notification_section .admin_tasks,
.admin_mailbox,
.admin_notification {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgb(3, 89, 116);
  margin-top: 8px;
  background-color: #ffffff;
}
.notification_section .admin_tasks,
.admin_mailbox,
.admin_notification:hover{
  cursor: pointer;
}
.fa-tasks,
.fa-envelope,
.fa-bell {
  margin-top: 12px;
  margin-left: 12px;
}
.notification_section .count_alert {
  width: 18px;
  height: 18px;
  border-radius: 9px;
  background-color: red;
  color: #ffffff;
  position: relative;
  left: 25px;
  top: -30px;
  font-size: 12px;
  text-align: center;
}
/***profile***/
#dropdownMenuButton1:focus {
  outline: none;
}
.profile_section .profile_photo {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: url(../../../images/adminhome/susantaadak.PNG);
  background-size: cover;
}

/*************************
**********SIDEBAR**********
**************************/

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #fff;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 0;
  box-shadow: 4px 4px 6px gray;
}
/***sidebar profile***/
.my_profileinsidebar {
  width: 100%;
  height: 200px;
}
#profile_photo_forsidebar {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 60px;
  background-color: rgb(154, 159, 161);
  float: left;
  margin-left: 40px;
  margin-top: 40px;
}
#profile_photo_forsidebar p {
  text-align: center;
  padding-top: 45%;
  font-size: 1.5rem;
}
input[type="file"] {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 0;
}

.sidebar a {
  display: block;
  color: black;
  padding-left: 20px;
  padding-top: 8px;
  text-decoration: none;
  height: 40px;
  font-family: sans-serif;
}

.sidebar a.active {
  border-left: 3px solid #0250e0;
  color: #0194dd;
}

.sidebar a:hover:not(.active) {
  background-color: #0536bbe0;

  color: #ffffff;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
/****CCONTENT****/
.content {
  background-color: #e6f4f5;
}
.page_title_section {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.dashboard {
  width: 70%;
  color: #0194dd;
  font-size: 1.5rem;
}
.right_section {
  width: 300px;
  display: flex;
  justify-content: space-around;
}
#select_section {
  border-radius: 6px;

  color: rgb(15, 15, 15);
  height: 35px;
}
.create_button {
  height: 35px;
  width: 100px;
  color: #fff;
  background-color: rgb(1, 128, 29);
  border-radius: 3px;
  outline: none;
}
.settinr_button {
  width: 35px;
  height: 35px;
  border-radius: 17.5px;
  color: #e6f4f5;
  font-size: 1.5rem;
  background-color: #0194dd;
  text-align: center;
  padding-top: 6px;
}
.settinr_button:hover {
  cursor: pointer;
}
.content .content_header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.header_components {
  width: 300px;
  height: 130px;
  border-radius: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 2px 4px gray;
}
.header_components:hover{
  box-shadow: 1px 1px 1px rgb(161, 160, 160);
  cursor:pointer;
}
.session {
  background-color: #019dfa;
}
.user {
  background-color: #6553db;
}
.page_views {
  background-color: #3ead4d;
}
.bounce_rate {
  background-color: #f1af2a;
}
.p1_forcount {
  font-size: 3rem;
  margin: 0;
  color: #fff;
}
.p2_forname {
  font-size: 1rem;
  color: #fff;
}

/*main*/
.content_main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/***main component 1**/
.main_component1 {
  width: 300px;
  height: 400px;
  background-color: #FFFFFF;
  margin-top: 20px;
  box-shadow: 4px 2px 8px rgb(161, 160, 160);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_component1:hover{
  box-shadow: 2px 1px 2px rgb(161, 160, 160);
}
.main_compo_head {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
}
.welcome {
  font-size: 1.6rem;
  color: black;
  margin-left: 10px;
  margin-bottom: 0;
}
.msg_count {
  font-size: 0.8rem;
  color: rgb(41, 39, 39);
  margin-left: 18px;
}
.main_compo_noti {
  width: 90%;
}

.user_nm_s {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  
}
.user_nm_s:hover{
  background-color: #c0c9ccd7;
  cursor: pointer;
}
.user_pic {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
}
#pf_img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.user_mame{
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.user_mame p{
  margin: 0;
}
.user_mame .pn1{
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
  margin: 0px;
}
.user_mame .pn2{
  font-size: 0.7rem;
  color: black;
  margin-top: -3px;
}
.user_mame .pn3{
  font-size: 0.7rem;
  color: black;
  font-weight: 600;
}
/***main component 2***/
.main_component2 {
  width: 700px;
  height: 400px;
  margin-top: 20px;
  box-shadow: 4px 2px 8px rgb(161, 160, 160);
}
.main_component2:hover{
  box-shadow: 2px 1px 2px rgb(161, 160, 160);
}
#world_map{
  width: 100%;
  height: 100%;
}

/***main component 3***/
.main_component3{
  width: 200px;
  height: 400px;
  border: 1px solid gray;
  margin-top: 20px;
}
